.codeui {
    display: flex;
    background-color: #9E9E9E;
    padding: 6px;
    padding-top: 8px;
    border: 3px solid #888;
    border-radius: 10px;
    gap: 8px;
    height: max(60vh, 250px);
}

.tabbedui {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}

.tabs {
    display: flex;
    gap: 4px;
    -webkit-user-select: none;
    user-select: none;
}

.tabs [role="tab"] {
    font: 200 16px/22px Helvetica, Arial, sans-serif;
    padding: 8px 8px;
    margin: 0;
    text-align: center;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(#fafafa, #eee);
    border: none;
}

.tabs [role="tab"][aria-selected="true"] {
    font-weight: 400;
    background: white;
    box-shadow: none;
    padding-top: 4px;
    border-top: 4px solid #E51E88;
}

.tabcontent {
    background-color: white;
    overflow: scroll;
    flex-grow: 1;
}

.tabcontent [role="tabpanel"] {
    display: none;
}

.tabcontent [aria-selected="true"][role="tabpanel"] {
    display: block;
    white-space: pre;
    font-family: monospace;
/*    padding: 6px;*/
}

.codeui .frame .tabs [role="tab"][aria-selected="true"] {
    padding-top: 4px;
    border-top: 4px solid #1E88E5;
}

.codeui .frame {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.codeui .frame .iframe {
    background-color: white;
    flex-grow: 1;
}

.codeui .frame iframe {
    border: 0px;
    background-color: antiquewhite;
    height: 100%;
}

.codeui .frame button {
    width: 100%;
    background-color: #1E88E5;
    border: 2px outset #1E88E5;
    color: white;
    font-size: 14pt;
    padding: 0.6em;
}

.codeui .frame button:active {
    border: 2px inset #1E88E5;
}

@media only screen and (orientation: portrait) {
  .codeui {
      flex-direction: column;
      height: 60vh;
  }
  
  .tabcontent [aria-selected="true"][role="tabpanel"] {
      font-size: 80%;
  }
}


code { 
    font-family: monospace; 
    white-space: pre;
}

code.codeblock { 
    display: grid; 
    font-size: 10pt; 
    gap: 0px 8px; 
    grid-template-columns: auto 1fr; 
    white-space: pre; 
}

code.codeblock .halfheight { 
    font-size: inherit !important; 
    height: 0.5lh; 
}

code.codeblock .linenumbers { 
    background-color: #e9e8e3; 
    border-left: solid 1px #c2c2c2; 
    border-right: solid 1px #d6d5d2; 
    font-size: 90%; 
    padding: 0px 5px 0px 8px; 
    text-align: right; 
    user-select: none; 
    -webkit-user-select: none; 
}

code.codeblock .code { 
    font-size: 10pt; 
}

code.codeblock .comment { color: rgb(150, 150, 150); }
code.codeblock .field { color: rgb(206, 84, 184); }
code.codeblock .function { font-weight: bold; }
code.codeblock .global { color: rgb(159, 13, 121); }
code.codeblock .keyword { color: rgb(51, 107, 221); }
code.codeblock .string { color: rgb(30, 147, 71); }
code.codeblock .selector { color: rgb(30, 147, 71); }
code.codeblock .identifier { color: rgb(51, 107, 221); }
code.codeblock .media { font-style: italic; }
code.codeblock .tag { color: rgb(51, 107, 221); }
code.codeblock .attribute { color: rgb(206, 84, 184); }
code.codeblock .innerstyle { background-color: rgb(227, 242, 225); }
code.codeblock .highlight { background-color: #f4b759; }


@media only screen and (orientation: portrait), only screen and (max-height: 600px) {
    code.codeblock { font-size: 10px !important; }
    code.codeblock .linenumbers { font-size: 10px !important; }
    code.codeblock .code { font-size: 10px !important; }
}