.codeui {
    display: flex;
    background-color: #9E9E9E;
    padding: 6px;
    border: 3px solid black;
    border-radius: 10px;
    gap: 8px;
    height: max(50vh, 250px);
}

.tabbedui {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}

.tabs {
    display: flex;
    gap: 4px;
    -webkit-user-select: none;
    user-select: none;
}

.tabs [role="tab"] {
    font: 400 16px/22px 'Roboto';
    padding: 8px 8px;
    margin: 0;
    text-align: center;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(#fafafa, #eee);
    border: none;
}

.tabs [role="tab"][aria-selected="true"] {
    font-weight: 600;
    background: white;
    box-shadow: none;
    padding-top: 4px;
    border-top: 4px solid #666;
}

.tabcontent {
    background-color: white;
    overflow: scroll;
    flex-grow: 1;
}

.tabcontent [role="tabpanel"] {
    display: none;
}

.tabcontent [aria-selected="true"][role="tabpanel"] {
    display: block;
    white-space: pre;
    font-family: monospace;
    padding: 6px;
}

.codeui .frame {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.codeui .frame .iframe {
    background-color: white;
    flex-grow: 1;
}

.codeui .frame iframe {
    border: 0px;
    background-color: antiquewhite;
    height: 100%;
}

.codeui .frame button {
    width: 100%;
    background-color: #1E88E5;
    border: 2px outset #1E88E5;
    color: white;
    font-size: 14pt;
    padding: 0.6em;
}

.codeui .frame button:active {
    border: 2px inset #1E88E5;
}

@media only screen and (max-width: 600px) {
  .codeui {
      flex-direction: column;
      height: 60vh;
  }
  
  .tabcontent [aria-selected="true"][role="tabpanel"] {
      font-size: 80%;
  }
}